/* Enter your custom styles here */
/* Enter your custom styles here */

.titleBgColor{
    /*   background-color:   #aac6de !important;  #427CAC */
       background-color: #aac6de !important;
       padding-top: 5px !important;;
       padding-bottom: 5px !important;;    
   }
   .titleText {
       font-weight: bold;
       color: #32363a !important;
    }
   .tableHeader {
       background-color: #FAFAFA !important;
    }
   .barBackground {
       background-color: #FFFFFF !important;
       padding-top: 7px;
       padding-bottom: 7px;
       border-collapse: separate !important;
       box-shadow: 4px 4px 4px 4px #c1c3c5 !important;
       border-color: #FFFFFF !important;
       margin-top: 4px;
   
   
   }
   .filterBackground{
       border-collapse: separate !important;
       box-shadow: 1px 1px 1px 1px #89919a !important; 
       margin-bottom: 1px;
   }
   .columnBackground {
       background-color: #89919a !important ;
   }
   .titleHeader{
       padding-top: 5px;
       padding-bottom: 5px;
   }
   .footerText{
       color: #89919a !important ;
   }
   .employeDetails{
       padding: 5px;
       background-color: #EFF4F9 !important;
   }
   .container{
       background-color: #f7f7f7 !important;
   }
   .tblContainer{
       background-color: #fafafa  !important;
   }
   .columnHeader{
       margin-top: 7px;
       margin-bottom: 7px;
   }
   .performancePositive{
       background-color: #c5fdaa ;
     /*  #bbf1ff  */
       border: 0.5px solid;
       
   }
   .performanceNegativeM{
       background-color: #ffd2d2 ;
       border: 0.5px solid;
       
   }
   .performanceNegative{
    background-color: #ff7878 ;
    border: 0.5px solid;
    
    }
   .performanceNeutral{
       background-color: #f8f9dd ;
       border: 0.5px solid;
       
   }
   .performanceNeutralM{
       background-color:  #c5f3ff ;
       border: 0.5px solid;
       
   }
   .performanceRound{
       width: 20px !important;
       height: 20px !important;
       border-radius: 10px;
   }
   span.sapMBtnInner.sapMBtnEmphasized {
   
       background-color: #1360a1;
       border-color: #1360a1; 
       border: none;
   }
   .sapContrast span.sapMBtnInner.sapMBtnEmphasized {
    background-color: #1360a1;
    border-color: #1360a1; 
    border: none;
}
   .sapMBtn.navigationButton .sapMBtnIcon{
     
       font-size: 50px;
       padding: 1px;
       
   }
   .profileHeader{
       padding: 5px !important;
   }
   .employeeHeader{
       background-color: #EFF4F9 !important;
   
   
   }
   .employeeHeaderBorder{
       background-color: #EFF4F9 !important;
       border-color: #aac6de !important;
     /*  border-radius: 1px; */
       border: 0.5px solid #aac6de;
   
   }
   .sapMListTbl {
       border: 0.5px solid #e1dfdf;
   }
   .performanceContainer{
       width: -webkit-fill-available;
   }
   
   .sapFDynamicPageTitleMain>.sapFDynamicPageTitleMainInner .sapFDynamicPageTitleMainHeading {
       width: -webkit-fill-available;
   }
   .sapFDynamicPageTitleMain>.sapFDynamicPageTitleMainInner .sapFDynamicPageTitleMainHeading .sapFDynamicPageTitleMainHeadingInner {
      
       width: -webkit-fill-available;
   }
   .sapUiSizeCompact .sapMTB.sapMTBHeader-CTX {
       padding: 0px;
   }
   .sapMIBar.sapMTB .sapMBarChild {
       margin-left: 0;
   }
   .textLable {
   
       font-size: .875rem;
       font-family: "72","72full",Arial,Helvetica,sans-serif;
       font-weight: normal;
       display: inline-block;
       white-space: nowrap;
       cursor: text;
       overflow: hidden;
       box-sizing: border-box;
   }
   .sapFAvatarCircle .sapFAvatarBadgeIconActiveArea {
       width: 100%;
       height: 100%;
       bottom: 0;
       right: 0;
   }
   
   .sapFAvatarBadgeIconActiveArea {
       position: absolute;
       pointer-events: all;
   }
   
   /* Check box alignment in Filter Dialog */
   .sapUiMDCListView tbody .sapMListTblSelCol {
       vertical-align: middle !important;
   }
   /* Table Header Background Color */
   .sapMTableTH {
       background: #e6e6e6;
   
   }
   
   tr[data-status="Awaiting Approval"]{	
       background:   #f8f6eb!important;
   }
   tr[data-status="Approved"]{	
       background:   #f8f6eb!important;
   }
   tr[data-status="00000820"]{	
       background:   #f8f6eb!important;
   }
   tr[data-assign="assigned"]{	
    background:   #e4ece4!important;
}
   
.sapMLnk {
   
       margin-top: 7px;
   }

   .sapFDynamicPageHeader.sapFDynamicPageHeaderWithContent {
    padding: 0rem 3rem 1rem 3rem;
}
.sapFDynamicPage-Std-Tablet .sapFDynamicPageTitle {
    padding: 0.5px 1px 0.5px 2px !important;
}
.sapFDynamicPageTitle {
    padding: 0.5px 1px 0.5px 2px !important;
}
.sapUiSizeCompact .sapMGrowingListDescription {
    display: none !important;
}
.sapMLIBNavigated {
    background-color: #1360a1;
}
.secondaryButton{

    background-color: transparent !important;
    color: #346187 !important;
    text-shadow: none !important;
    border-color: #1360a1 !important;

}
.sapMIBar-CTX .sapMBtnInner, .sapMBar .sapMBtnInner, .sapMHeader-CTX .sapMBtnInner, .sapMFooter-CTX .sapMBtnInner {
    background: transparent;
   /* border-color: #1360a1 !important; */
}
.sapContrast.sapMBtnInner, .sapContrast .sapMBtnInner {
  
    text-shadow: none !important;
}
.sapContrast.sapMBtnBack, .sapContrast .sapMBtnBack, .sapContrast.sapMBtnTransparent, .sapContrast .sapMBtnTransparent {

    color: #1360a1;
}
.sapContrast :not(.sapMBtnDisabled) .sapMBtnBack>.sapMBtnIcon, .sapContrast :not(.sapMBtnDisabled) .sapMBtnTransparent>.sapMBtnIcon, .sapContrast :not(.sapMBtnDisabled) .sapMBtnGhost>.sapMBtnIcon {
    color: #1360a1;
}
.sapMDialog>.sapMDialogSection {

    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.sapContrast.sapMIBar-CTX .sapMBtnInner, .sapContrast .sapMIBar-CTX .sapMBtnInner, .sapContrast.sapMBar .sapMBtnInner, .sapContrast .sapMBar .sapMBtnInner, .sapContrast.sapMHeader-CTX .sapMBtnInner, .sapContrast .sapMHeader-CTX .sapMBtnInner, .sapContrast.sapMFooter-CTX .sapMBtnInner, .sapContrast .sapMFooter-CTX .sapMBtnInner {
    border-color: #1360a1 !important;
}
.sapMIBar-CTX .sapMBtnInner.sapMBtnGhost, .sapMBar .sapMBtnInner.sapMBtnGhost, .sapMHeader-CTX .sapMBtnInner.sapMBtnGhost, .sapMFooter-CTX .sapMBtnInner.sapMBtnGhost {
    border-color: #1360a1 !important;
}
/*. Seperator   
.sapFFCLNavigationButton .sapMBtnInner:after, .sapUiSizeCompact .sapFFCLNavigationButton .sapMBtnInner:after, .sapFFCLNavigationButton .sapMBtnInner:before, .sapUiSizeCompact .sapFFCLNavigationButton .sapMBtnInner:before {

    height: 300px;

}
*/