/* Enter your custom styles here */
/* Enter your custom styles here */

.titleBgColor{
    /*   background-color:   #aac6de !important;  #427CAC */
       background-color: #aac6de !important;
       padding-top: 5px !important;;
       padding-bottom: 5px !important;;    
   }
   .titleText {
       font-weight: bold;
       color: #32363a !important;
    }
   .tableHeader {
       background-color: #FAFAFA !important;
    }
   .barBackground {
       background-color: #FFFFFF !important;
       padding-top: 7px;
       padding-bottom: 7px;
       border-collapse: separate !important;
       box-shadow: 4px 4px 4px 4px #c1c3c5 !important;
       border-color: #FFFFFF !important;
       margin-top: 4px;
   
   
   }
   .filterBackground{
       border-collapse: separate !important;
       box-shadow: 1px 1px 1px 1px #89919a !important; 
       margin-bottom: 1px;
   }
   .columnBackground {
       background-color: #89919a !important ;
   }
   .titleHeader{
       padding-top: 5px;
       padding-bottom: 5px;
   }
   .footerText{
       color: #89919a !important ;
   }
   .employeDetails{
       padding: 5px;
       background-color: #EFF4F9 !important;
   }
   .container{
       background-color: #f7f7f7 !important;
   }
   .tblContainer{
       background-color: #fafafa  !important;
   }
   .columnHeader{
       margin-top: 7px;
       margin-bottom: 7px;
   }
   .performancePositive{
       background-color: #c5fdaa ;
     /*  #bbf1ff  */
       border: 0.5px solid;
       
   }
   .performanceNegativeM{
       background-color: #ffd2d2 ;
       border: 0.5px solid;
       
   }
   .performanceNegative{
    background-color: #ff7878 ;
    border: 0.5px solid;
    
    }
   .performanceNeutral{
       background-color: #f8f9dd ;
       border: 0.5px solid;
       
   }
   .performanceNeutralM{
       background-color:  #c5f3ff ;
       border: 0.5px solid;
       
   }
   .performanceRound{
       width: 20px !important;
       height: 20px !important;
       border-radius: 10px;
   }
   span.sapMBtnInner.sapMBtnEmphasized {
   
       background-color: #1360a1;
       border-color: #1360a1; 
       border: none;
   }
   .sapContrast span.sapMBtnInner.sapMBtnEmphasized {
    background-color: #1360a1;
    border-color: #1360a1; 
    border: none;
}
   .sapMBtn.navigationButton .sapMBtnIcon{
     
       font-size: 50px;
       padding: 1px;
       
   }
   .profileHeader{
       padding: 5px !important;
   }
   .employeeHeader{
       background-color: #EFF4F9 !important;
   
   
   }
   .employeeHeaderBorder{
       background-color: #EFF4F9 !important;
       border-color: #aac6de !important;
     /*  border-radius: 1px; */
       border: 0.5px solid #aac6de;
   
   }
   .sapMITBAll .sapMITBTab {
    margin-bottom: 0rem; 

}
.sapMITBAll .sapMITBText {
    display: flex;

}
.sapMITBTab {
   width: auto;
   
}
.sapMITBFilter .sapMITBText {
   width: auto;
}
.iconPositive{
       margin-right: 2rem;
       margin-left: 2rem;   
}
.sapMITBFilter .sapMITBFilterWrapper {
 /*  margin-right: 1rem;
   margin-left: 1rem; */
   min-width: 7rem;  
}
.sapMITBFilterCritical {
   border-color: #eff4f9;
}
.sapMITBSelected .sapMITBFilterCritical {
   color: #eff4f9;
}
.sapMITBSelected .sapMITBFilterPositive {
   color: #eff4f9;
}
.sapMITBFilterPositive {
   border-color: #eff4f9;
}
.sapMITBSelected .sapMITBFilterNegative {
   color: #eff4f9;
}
.sapMITBFilterNegative {
   border-color: #eff4f9;
}
.sapMITBSepLine {
   height: 4rem;
   width: 2px;
   border: 1px solid #c0bbbb;
   margin-right: 16px;

}
.sapMITBAll .sapMITBText {
   font-size: 15px;
  /* margin-top: 6px */
}
.sapMITBAll .sapMITBCount {
   font-size: 2rem;
}
.sapMITBContent {
    background-color: #f7f7f7;
    border-bottom: 0rem solid #d1e0ee; 
    padding-top: 0rem;
}
.sapUiSizeCompact .sapMListTblRow {
   height: 3rem;
}
   .sapMListTbl {
       border: 0.5px solid #e1dfdf;
   }
   .performanceContainer{
       width: -webkit-fill-available;
   }
   
   .sapFDynamicPageTitleMain>.sapFDynamicPageTitleMainInner .sapFDynamicPageTitleMainHeading {
       width: -webkit-fill-available;
   }
   .sapFDynamicPageTitleMain>.sapFDynamicPageTitleMainInner .sapFDynamicPageTitleMainHeading .sapFDynamicPageTitleMainHeadingInner {
      
       width: -webkit-fill-available;
   }
   .sapUiSizeCompact .sapMTB.sapMTBHeader-CTX {
       padding: 0px;
   }
   .sapMIBar.sapMTB .sapMBarChild {
       margin-left: 0;
   }
   .textLable {
   
       font-size: .875rem;
       font-family: "72","72full",Arial,Helvetica,sans-serif;
       font-weight: normal;
       display: inline-block;
       white-space: nowrap;
       cursor: text;
       overflow: hidden;
       box-sizing: border-box;
   }
   .sapFAvatarCircle .sapFAvatarBadgeIconActiveArea {
       width: 100%;
       height: 100%;
       bottom: 0;
       right: 0;
   }
   
   .sapFAvatarBadgeIconActiveArea {
       position: absolute;
       pointer-events: all;
   }
   
   /* Check box alignment in Filter Dialog */
   .sapUiMDCListView tbody .sapMListTblSelCol {
       vertical-align: middle !important;
   }
   /* Table Header Background Color */
   .sapMTableTH {
       background: #e6e6e6;
   
   }
   
   tr[data-status="Awaiting Approval"]{	
       background:   #f8f6eb!important;
   }
   tr[data-status="Approved"]{	
       background:   #f8f6eb!important;
   }
   tr[data-status="00000820"]{	
       background:   #f8f6eb!important;
   }
   tr[data-assign="assigned"]{	
    background:   #e4ece4!important;
}
   
.sapMLnk {
   
       margin-top: 7px;
   }

.sapFDynamicPageHeader.sapFDynamicPageHeaderWithContent {
    padding: 0rem 2rem 1rem 2rem;
}
.sapFDynamicPage-Std-Tablet .sapFDynamicPageTitle {
    padding: 0rem 0rem 0rem 0rem !important;
}
.sapUiSizeCompact .sapMGrowingListDescription {
    display: none !important;
}
.sapMLIBNavigated {
    background-color: #1360a1;
}
.secondaryButton{

    background-color: transparent !important;
    color: #346187 !important;
    text-shadow: none !important;
    border-color: #1360a1 !important;

}
.sapMIBar-CTX .sapMBtnInner, .sapMBar .sapMBtnInner, .sapMHeader-CTX .sapMBtnInner, .sapMFooter-CTX .sapMBtnInner {
    background: transparent;
   /* border-color: #1360a1 !important; */
}
.sapContrast.sapMBtnInner, .sapContrast .sapMBtnInner {
  
    text-shadow: none !important;
}
.sapContrast.sapMBtnBack, .sapContrast .sapMBtnBack, .sapContrast.sapMBtnTransparent, .sapContrast .sapMBtnTransparent {

    color: #1360a1;
}
.sapContrast :not(.sapMBtnDisabled) .sapMBtnBack>.sapMBtnIcon, .sapContrast :not(.sapMBtnDisabled) .sapMBtnTransparent>.sapMBtnIcon, .sapContrast :not(.sapMBtnDisabled) .sapMBtnGhost>.sapMBtnIcon {
    color: #1360a1;
}
.sapContrast.sapMIBar-CTX .sapMBtnInner, .sapContrast .sapMIBar-CTX .sapMBtnInner, .sapContrast.sapMBar .sapMBtnInner, .sapContrast .sapMBar .sapMBtnInner, .sapContrast.sapMHeader-CTX .sapMBtnInner, .sapContrast .sapMHeader-CTX .sapMBtnInner, .sapContrast.sapMFooter-CTX .sapMBtnInner, .sapContrast .sapMFooter-CTX .sapMBtnInner {
    border-color: #1360a1 !important;
}
.sapMIBar-CTX .sapMBtnInner.sapMBtnGhost, .sapMBar .sapMBtnInner.sapMBtnGhost, .sapMHeader-CTX .sapMBtnInner.sapMBtnGhost, .sapMFooter-CTX .sapMBtnInner.sapMBtnGhost {
    border-color: #1360a1 !important;
}
/*. Seperator   
.sapFFCLNavigationButton .sapMBtnInner:after, .sapUiSizeCompact .sapFFCLNavigationButton .sapMBtnInner:after, .sapFFCLNavigationButton .sapMBtnInner:before, .sapUiSizeCompact .sapFFCLNavigationButton .sapMBtnInner:before {

    height: 300px;

}
*/
.sapFDynamicPage-Std-Tablet .sapFDynamicPageContent, .sapFDynamicPage-Std-Tablet .sapFDynamicPageContentFitContainer {
     padding: 0rem 0rem 0rem 0rem !important; 
}
.sapFDynamicPageContent, .sapFDynamicPageContentFitContainer {
    position: relative;
    padding: 0rem 0rem 0rem 0rem !important; 
}
.dynHeader{
    visibility: hidden;
    height: 1rem !important;
}

*/
.sapUiSizeCompact .sapFDynamicPageToggleHeaderIndicator .sapMBtnInner.sapMBtnIconFirst:not(.sapMBtnBack), .sapUiSizeCompact .sapFDynamicPageHeaderPinButton .sapMBtnInner.sapMBtnIconFirst:not(.sapMBtnBack) {
    visibility: hidden;
}
.sapMITH:not(.sapMITBTextOnly) .sapMITBHead {
    padding-top: 0.25rem;
}

.sapContrast span.sapMBtnInner.sapMBtnReject {
    background-image: none;
    background-color: #f7f7f7 !important;
    border-color: #b00 !important;
    color: #b00 !important;
}
.sapContrast span.sapMBtnInner.sapMBtnAccept {
    background-image: none;
    background-color: #f7f7f7 !important;
    border-color: #2b7c2b !important;
    color: #2b7c2b !important;
}
.sapContrast :not(.sapMBtnDisabled):not(.sapMSBActive)>span.sapMBtnInner.sapMBtnAccept:not(.sapMBtnActive):not(.sapMToggleBtnPressed)>.sapMBtnIcon {
    color: #299929;
}
.sapContrast:not(.sapMBtnDisabled)>span.sapMBtnInner.sapMBtnAccept.sapMBtnActive.sapMBtnIcon{
    color: #fff !important;
}
.sapContrast :not(.sapMBtnDisabled)>span.sapMBtnInner.sapMBtnAccept.sapMBtnActive{
    background-color: #2b7c2b !important;
    border-color: #2b7c2b !important;
}
.sapContrast :not(.sapMBtnDisabled)>span.sapMBtnInner.sapMBtnReject.sapMBtnActive{
    background-color: #b00 !important;
    border-color: #b00 !important;
}
.custPadding{
    margin-left: 1rem;
    margin-right: 1rem;
}
.custPaddingBar{
    margin-left: 1rem;
    margin-right: 26px;
}
.sapMITBContainerContent {

    height: 1px;
}
.sapUiSizeCompact .sapFDynamicPageToggleHeaderIndicator .sapMBtnInner.sapMBtnIconFirst:not(.sapMBtnBack), .sapUiSizeCompact .sapFDynamicPageHeaderPinButton .sapMBtnInner.sapMBtnIconFirst:not(.sapMBtnBack) {
    visibility: hidden;
}
.sapMSelectionPanel tbody .sapMListTblSelCol {
    vertical-align: middle;
}
.sapFDynamicPageTitleMain>.sapFDynamicPageTitleMainInner .sapFDynamicPageTitleMainHeading .sapFDynamicPageTitleMainHeadingInner {
     margin-top: 0rem;
}
.sapFDynamicPageTitle .sapFDynamicPageTitleMain {
    background-color: #aac6de !important;
}
.sapFDynamicPageTitle .sapFDynamicPageTitleMain>.sapFDynamicPageTitleMainInner .sapFDynamicPageTitleMainActions {
     padding-left: 0rem;
}
.sapFDynamicPageTitleMain>.sapFDynamicPageTitleMainInner .sapFDynamicPageTitleMainActions {

    min-width: 0rem;
}

.sapFDynamicPageTitleMainActions {
    padding-right: 0rem;
}
.sapFDynamicPageTitleMain>.sapFDynamicPageTitleMainInner .sapFDynamicPageTitleMainContent {
    min-width: 0rem;
    padding: 0 0 0 0rem;
}
.sapFDynamicPageTitle {

    padding: 0rem 0rem 0rem 0rem !important; 
}