/* Enter your custom styles here */

.titleBgColor{
    /*   background-color:   #A9C6DE !important;  #427CAC */
       background-color: #A9C6DE !important;
       padding-top: 5px !important;;
       padding-bottom: 5px !important;;    
    }
.titleText {
       font-weight: bold;
       color: #32363a !important;
    }
.tableHeader {
       background-color: #FAFAFA !important;
    }
.barBackground {
       background-color: #FFFFFF !important;
       padding-top: 7px;
       padding-bottom: 7px;
       border-collapse: separate !important;
       border-color: #FFFFFF !important;
       box-shadow: 1px 1px 1px 1px #c1c3c5 !important;
       margin-top: 4px;
    
    }
.filterBackground{
       border-collapse: separate !important;
       box-shadow: 1px 1px 1px 1px #89919a !important; 
       margin-bottom: 0.5px;
       margin-top: 10px;
       
   }
.columnBackground {
       background-color: #89919a !important ;
   }
.titleHeader{
       padding-top: 5px;
       padding-bottom: 5px;
   }
   .footerText{
       color: #89919a !important ;
   }
   .employeDetails{
       padding: 5px;
       background-color: #EFF4F9 !important;
   }
   .container{
       background-color: #FFFFFF !important;
   }
   .columnHeader{
       margin-top: 7px;
       margin-bottom: 7px;
   }
   .performancePositive{
       background-color: #8fe0f8 !important;
       
   }
   .performanceNegative{
       background-color: #FF8888 !important;
       
   }
   .performanceNeutral{
       background-color: #FABD64 !important;
       
   }
   .performanceNeutralM{
       background-color:  #ABE2AB !important;
       
   }
   .sapMBtn.navigationButton .sapMBtnIcon{
     
       font-size: 50px;
       padding: 1px;
       
   }
   .profileHeader{
       padding: 5px !important;
   }
.employeeHeader{
       background-color: #EFF4F9 !important;
   
   
   }
.employeeHeaderBorder{
       background-color: #EFF4F9 !important;
       border-color: #A9C6DE !important;
       border-radius: 1px;
       border: 1px solid #A9C6DE;
   
   }

.sapMITBAll .sapMITBTab {
     margin-bottom: 0rem; 

}
.sapMITBAll .sapMITBText {
     display: flex;

}
.sapMITBTab {
    width: auto;
    
}
.sapMITBFilter .sapMITBText {
    width: auto;
}
.iconPositive{
        margin-right: 2rem;
        margin-left: 2rem;   
}
.sapMITBFilter .sapMITBFilterWrapper {
  /*  margin-right: 1rem;
    margin-left: 1rem; */
    min-width: 7rem;  
}
.sapMITBFilterCritical {
    border-color: #eff4f9;
}
.sapMITBSelected .sapMITBFilterCritical {
    color: #eff4f9;
}
.sapMITBSelected .sapMITBFilterPositive {
    color: #eff4f9;
}
.sapMITBFilterPositive {
    border-color: #eff4f9;
}
.sapMITBSelected .sapMITBFilterNegative {
    color: #eff4f9;
}
.sapMITBFilterNegative {
    border-color: #eff4f9;
}
.sapMITBSepLine {
    height: 4rem;
    width: 2px;
    border: 1px solid #c0bbbb;
}
.sapMITBAll .sapMITBText {
    font-size: 15px;
   /* margin-top: 6px */
}
.sapMITBAll .sapMITBCount {
    font-size: 2rem;
}
.sapMITBContent {
     border-bottom: 0rem solid #d1e0ee; 
     padding-top: 0rem;
}
.sapUiSizeCompact .sapMListTblRow {
    height: 3rem;
}
.sapMListTbl {
    border: 0.5px solid #e1dfdf;
}
.tableInput{
    height: 3rem
}
.sapUiBody ::-webkit-scrollbar {

    width: 2px !important;
    
    height: 2px !important;
    
    border: 1px solid transparent;
    
    background-color: transparent;
    
}
.sapMLIB.sapMLIBSelected {
    background: #ccab7b29;
}
.sapUiView {
    display: inherit;
}
.performanceContainer{
    width: -webkit-fill-available;
}
.sapMLnk {

    margin-top: 7px;
}
.textLable {

    font-size: .875rem;
    font-family: "72","72full",Arial,Helvetica,sans-serif;
    font-weight: normal;
    display: inline-block;
    white-space: nowrap;
    cursor: text;
    overflow: hidden;
    box-sizing: border-box;
}
.naviButton{

    max-height: 3.5rem;
    height: 3rem;
    font-size: 2rem;
}
.tableButton{
    background-image: none;
    background-color: transparent;
    border-color: transparent;
    color: #346187;
    margin-left: 2px;
}
.sapSuiteUiCommonsNetworkGraphToolbar {
    flex-shrink: 0;
    visibility: hidden;
}
.cardHeader{
    background-color: #0854A0 !important;
    height: auto !important;
    border-radius: 5px;
}
.cardBorder{
   border: 1px solid #0854A0;
   border-radius: 5px;
}
.sapSuiteUiCommonsNetworkGraphDivInner {
    border: none;
}
.sapSuiteUiCommonsNetworkGraphInnerScrollerCenter {

    margin-left: 0px;
}
.sapSuiteUiCommonsNetworkLinePath {
    stroke: #0854A0;
}
.nodeTitle{
    color: #fff;
}
.sapSuiteUiCommonsNetworkGraphDivNode.sapSuiteUiCommonsNetworkElementSelected .sapSuiteUiCommonsNetworkGraphDivInner {
    background-color: #d3dfea;
}
.sapSuiteUiCommonsProcessFlowNodeCustom .sapSuiteUiCommonsProcessFlowNode3ZoomLevel2 {
    height: auto !important;
    width: 220px;
    padding: 0;
    margin: 0;
}
.sapSuiteUiCommonsProcessFlowNodeCustom .sapSuiteUiCommonsProcessFlowNode3ZoomLevel1 {
    height: auto !important;
    width: 220px;
    padding: 0;
    margin: 0;
}
.sapSuiteUiCommonsProcessFlowNodeCustom .sapSuiteUiCommonsProcessFlowNode3ZoomLevel3 {
   height: auto !important;
    width: 220px;
    padding: 0;
    margin: 0;
}
.sapSuiteUiCommonsProcessFlowNodeDisplayStateRegular {

    border: none;
}
table.sapSuiteUiCommonsPF {

    width: 850px;
 
}
.sapSuiteUiCommonsProcessFlowNode3ZoomLevel2 .sapSuiteUiCommonsProcessFlowNode3ContentPadding {
    height: auto !important;

}
.sapSuiteUiCommonsProcessFlowNode3ZoomLevel1 .sapSuiteUiCommonsProcessFlowNode3ContentPadding {
   height: auto !important;

}
.sapSuiteUiCommonsProcessFlowNode3ZoomLevel3 .sapSuiteUiCommonsProcessFlowNode3ContentPadding {
   height: auto !important;

}
.sapSuiteUiCommonsProcessFlowNode3ZoomLevel4 .sapSuiteUiCommonsProcessFlowNode3ContentPadding {
   height: auto !important;

}
.sapSuiteUiCommonsProcessFlowNode3ZoomLevel1 {
   height: auto !important;

}
.sapSuiteUiCommonsProcessFlowNode3ZoomLevel3 {
   height: auto !important;

}
.sapSuiteUiCommonsProcessFlowNode3ZoomLevel4 {
   height: auto !important;

}
.sapSuiteUiCommonsProcessFlowNode3ZoomLevel2{
    max-width: 200px;
}
.sapSuiteUiCommonsProcessFlowNode3ZoomLevel1{
    max-width: 200px;
}
.sapSuiteUiCommonsProcessFlowNode3ZoomLevel3{
    max-width: 200px;
}
.sapSuiteUiCommonsProcessFlowNode3ZoomLevel4{
    max-width: 200px;
}
.sapSuiteUiCommonsPFHeaderRow{
    display: none;
}
.sapSuiteUiCommonsProcessFlowNode1ZoomLevel1, .sapSuiteUiCommonsProcessFlowNode1ZoomLevel2, .sapSuiteUiCommonsProcessFlowNode1ZoomLevel1>.sapUiIcon, .sapSuiteUiCommonsProcessFlowNode1ZoomLevel2>.sapUiIcon, .sapSuiteUiCommonsProcessFlowNode1ZoomLevel1>.sapUiIcon:before, .sapSuiteUiCommonsProcessFlowNode1ZoomLevel2>.sapUiIcon:before {
    display: none;
}
.sapSuiteUiCommonsProcessFlowNode1ZoomLevel3, .sapSuiteUiCommonsProcessFlowNode1ZoomLevel4, .sapSuiteUiCommonsProcessFlowNode1ZoomLevel3>.sapUiIcon, .sapSuiteUiCommonsProcessFlowNode1ZoomLevel4>.sapUiIcon, .sapSuiteUiCommonsProcessFlowNode1ZoomLevel3>.sapUiIcon:before, .sapSuiteUiCommonsProcessFlowNode1ZoomLevel4>.sapUiIcon:before {
    display: none;
}
.sapSuiteUiCommonsProcessFlowNode2ZoomLevel2 {

    display: none;

}
.sapSuiteUiCommonsProcessFlowNode2ZoomLevel1 {

    display: none;

}
.sapSuiteUiCommonsProcessFlowNode2ZoomLevel3 {

    display: none;

}
.sapSuiteUiCommonsProcessFlowNode2ZoomLevel4 {

    display: none;

}
.sapSuiteUiCommonsProcessFlowNodeHover{
    background-color: transparent !important;
}
.sapSuiteUiCommonsProcessFlowNodeHover:not(.sapMBtnFocusDiv){
    background-color: #c0e0ff79 !important;
}
.sapSuiteUiCommonsProcessFlowNodeActive{
    background-color: transparent !important;
}
.sapSuiteUiCommonsProcessFlowNodeActive:not(.sapMBtnFocusDiv){
    background-color: #9fcfff79 !important;
    color: #0854A0 !important;
  
}
.sapSuiteUiCommonsProcessFlowNode0ZoomLevel2 {
    width: 200px;
    max-width: 200px;
}
table.sapSuiteUiCommonsPF td, table.sapSuiteUiCommonsPF th {
    vertical-align: middle;
}
.sapSuiteUiCommonsBoxTopZoom2Height {
     height: 0rem;
}
.sapSuiteUiCommonsBoxTopZoom1Height {
    height: 0rem;
}
.sapSuiteUiCommonsBoxTopZoom3Height {
    height: 0rem;
}
.sapSuiteUiCommonsBoxTopZoom4Height {
    height: 0rem;
}
.sapFDynamicPageTitleMain>.sapFDynamicPageTitleMainInner .sapFDynamicPageTitleMainHeading {
 width: -webkit-fill-available;
}
.sapFDynamicPageTitleMain>.sapFDynamicPageTitleMainInner .sapFDynamicPageTitleMainHeading .sapFDynamicPageTitleMainHeadingInner {

    width: -webkit-fill-available;
}
.sapUiSizeCompact .sapMTB.sapMTBHeader-CTX {
    padding: 0px;
}
.quickView{

        margin-top: 1px solid #fafafa !important;

}

.quickViewH{
    width: 100%;
    justify-content: start !important;
}
/*
.pfButton{
    width: min-content;
   /* border-radius: 2.5rem;
   border-radius: 1.5rem;
    font-size: 1.5rem;
    display: inline-flex;
    height: 3rem!important;
    overflow: visible;
    width: 3rem!important;

}

.pfButton.sapUiSizeCompact .sapMBtnInner.sapMBtnText, .sapUiSizeCompact .sapMBtnInner.sapMBtnIconFirst {
    margin: 0px;
    padding: 0px;
    border: none;
    width: 3rem!important;
    height: 3rem !important;
}
.sapMBtn.increaseFont .sapMBtnIcon {
    font-size: 1.5rem;
    color: red;
}

*/